* {
    padding: 0px;
    margin: 0px;
}

.contenedor {
    background-image: url("../images/flor.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}

.sub_contenedor {
    background-color: rgba(15, 15, 15, 0.6);
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-around;
}
.tabla{
    position: absolute;
    background-color: aliceblue;
    width: 500px;
    height: 200px;
    transform: translate(0%, 50%);
    
}
table{
    display: flex;
    justify-content: space-around;
}